<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style type="text/css">
        *{
            margin: 0;
            padding: 0;
            background-color: #EAEAEA;
        }
        div{
            width: 200px;
            height: 200px;
            background-color: #1E90FF;
        }
        .center-in-center{
            position: absolute;
            top: 50%;
            left: 50%;
        }
    </style>
</head>
<body>

<div class="center-in-center"><button onclick="alertCid()">Copy Text</button></div>

</body>
<script type="text/javascript" charset="utf-8" >
    if(!window.localStorage){
        alert("浏览器支持localstorage");
    }else{
        var storage=window.localStorage;
        var c=storage.getItem("cid");
        console.log(c);
        alert(c);
    }

    function alertCid() {
        var storage=window.localStorage;
        var c=storage.getItem("cid");
        console.log(c);
        alert(c);
        alert(getCookie('cid'));
    }



    function getCookie(name)
    {
        var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)");
        if(arr=document.cookie.match(reg))
            return unescape(arr[2]);
        else
            return null;
    }
</script>
</html>